body{
    height: 100%;
    width: 100%;
    
    background-image: url("../Urban\ Fashion\ Img/background.png");
}
#main{
    display: flex;
    flex-direction: row;
    
}

.navbar{
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
#image
{   height: 10%;
  width: 10%;
  border-radius: 50%;
}
.bar_buttons
{   
  position: relative;
  margin-left: 50%;
}

.button
{   
  font-size: 1.5vw;
}
nav{
  
  flex: 1;
  padding-left: 4rem;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0rem 1.2rem;
}
nav ul li a{
  text-decoration: none;
  color: #333;
}
h1{

    animation: animateHeart 1.2s infinite;
    font-size: 520%;
    margin-bottom: 0%;
}
p{
    position: relative;
    margin-top: 30%;
    margin-left: 10%;
    font-size: 340%;
}


@keyframes animateHeart {
  
    0% {
      transform: rotate(0deg) scale(0.8);
    }
    5% {
      transform: rotate(0deg) scale(0.9);
    }
    10% {
      transform: rotate(0deg) scale(0.8);
    }
    15% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(0deg) scale(0.8);
    }
    100% {
      transform: rotate(0deg) scale(0.8);
    }
  }
  

@media screen and (max-width : 768px) {
    p{
        position: relative;
        margin-top: 250%;
        margin-left: -100%;
        font-size: 440%;
    }
    #left{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 75%;
    }
    p{
      margin-left: -130%;
    }
   
    
}
@media screen and (max-width : 937px) {
  
   
  nav ul li{
      display:block;}
      
      #image{
          height: 75%;
          width: 75%;
      }
      .button{font-size: 15.0vw;}
      .bar_buttons{margin-left: 150%;}
    
  }