*{
    margin:0 ;
     padding:0 ;
}
body
{
    height: 100%;
    width: 100%;
    background-image: url("../Urban\ Fashion\ Img/background.png");
    
}
.conatiner{
    height: 100%;
    width: 100%;
    background-image: url("../Urban\ Fashion\ Img/background.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
        
}
#divv{
    width : 40%
}
#text{
    font-size: 100%;
}
.content h1
{
    overflow: hidden;
    border-right: .15em solid  rgb(9, 206, 255); 
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
    type 3s steps(40, end),
    blink.75s step-end infinite;
}
@keyframes type{
    from{width : 0}
    to{ width : 50%}
}
@keyframes blink
{
    from,to{border-color : transparent}
    50% {border-color: rgb(9, 206, 255);}
    90%{border-color: transparent;}
}

.navbar{
  
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 10rem;
    cursor: pointer;
}
nav{
    
    flex: 1;
    padding-left: 4rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0rem 1.2rem;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content{
    font-size: 4rem;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #232d60;
}
.content p{
    font-size: 1.25rem;
    color: #6a7199;
   

}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient( 45deg, #87adfe, #ff77cd);
    border-radius: 0.5rem;
    padding: 0.65rem 1.25rem;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
     
}
.arrow-icons{
    margin-top: 2.5rem;
    height: 50%;
    width: 50%;
    display: flex;
}
.feature-img{
    height: 70%;
    position: absolute;
    bottom: 0;
    margin-left: 70%; 
}

#image
{   height: 10%;
    width: 10%;
    border-radius: 50%;
}

.bar_buttons
{   
    position: relative;
    margin-left: 50%;
}

.button
{   
    font-size: 1.5vw;
}
.social-links{
    transform: rotate(-90deg);
    position: relative;
    display: flex;
    flex-direction: row; 
    left: -42.5rem;
    bottom: 50rem;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 1.25rem;
    font-size: 1rem;
}


@media screen and (max-width : 937px) {
    #divv{
        width : 60%
    }
    #text{
        font-size: 60%;
    }
nav ul li{
    display:block;}
    h1{
        font-size: 10vw;
    }
    .feature-img{
        height: 40%;
        margin-top: 110%;
    }
    #image{
        height: 25%;
        width: 25%;
    }
    .button{font-size: 5.0vw;}
    .bar_buttons{margin-left: 25%;}
  
}